{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Create new Article</h1>

    {{ include('article/_form.html.twig') }}

    <a class="btn btn-primary" href="{{ path('app_article_index') }}"><i class="bi bi-arrow-left-square-fill me-1"></i> back to list</a>
{% endblock %}
